@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Events System</h1>
    <p>Click <a asp-area="" asp-controller="Events" asp-action="Index">here</a> to see the list of events</p>
</div>
